<li>
	{{name}}
    {{#if eaten}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		<!---{{eaten}}--->Eat it!
	</button>
    {{/if}}

	<!---<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --->
</li>